#profile {
    width: 100%;
    height: 100%;
}

.profile-header {
    display: flex;
    align-items: center;
    width:100%;
    background: lightgray;
    position: static;
}

.profile-header *{
    margin: 10px 0px 10px 20px;
}

.user-info *{
    margin-top: 10px;
}