
.post-form {
    padding: 20px;
    width: 90%;
    align-items:center;
    display: flex;
}

.form-head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


